<template>
  <div>{{text}}</div>
</template>

<script>export default {data() {return { text: "Hello World" };},methods: {sayHello() {debugger;console.log('Hello!');}}};</script><style scoped>div {background: #fff;}</style>